@import "./scss/main.scss";


/***********************************/
/***********************************/
/***********************************/



@media all and (max-width:$mobile){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@media all and (min-width:$mobile) and (max-width:$tablette){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@media all and (min-width:$desktop) and (max-width:$tv){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@media all and (min-width:$tv){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Shrikhand&display=swap');
body {
    
        font-family:  'Raleway', sans-serif;
    
    padding: 0px;
    margin: 0px;
    > header {
        display: flex;
        box-shadow: rgb(0, 0, 0) 0px 0px 5px 1px;
        position: relative;
        padding: 5px 0px;
        justify-content: center;
        > img {
            width: 150px;
            padding: 5px 0px 5px 0px;;    
        }
    }
    >main{
        >section#présentation{
            text-align: center;
            background-color: rgb(255, 255, 255);
            >form{
                text-align: center;
                background-color: rgb(233, 233, 233);
                padding: 5px 0px;
                >i{

                }
                >input{
                    background: none;
                    border: none;

                }
            }
            >h1{
                margin: 20px;
            }
            >p{
                margin: 20px;
            }
            >button{
                margin-bottom: 20px;
                background: linear-gradient(-5deg, #9356dc,#ff79da );
                border-radius: 20px;
                border: none;
                padding: 10px;
                color: white;
            }
        }
        >section#fonctionnement{
        margin: 20px 20px 30px 20px;
            div{
                background-color: whitesmoke;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 15px;
                font-weight: bolder;
                i{
                width: 15px;
                padding: 0px 30px 10px 10px;
                }
                transition: background-color 1s;
                &:hover{
                    background-color: #c1afda;
                }
                p{
                    display:inline-block;
                    background-color: #9356dc;
                    border-radius: 15px;
                    width: 15px;
                    height: 15px;
                    position: relative;
                    right: 25px;
                    bottom: -5px;
                    margin: 0px;
                    padding: 5px;
                    color: white;
                    span{
                        
                        position: absolute;
                        left: 8px;
                        top: 3px;
                    }
                }
            }
        }
        >section#Restaurants{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: rgb(245, 245, 245);
            
            >h1{
                flex-basis: 90%;
                
            }
            >a{
                color: #000;
                text-decoration: none;
                position: relative;
                box-shadow: rgb(189, 189, 189) 5px 5px 10px;
                border-radius: 15px;
                margin-bottom: 20px;
                flex-basis: 90%;
                
                
                >img{
                    width: 100%;
                    height: 200px;
                    border-radius: 15px 15px 0px 0px;
                }
                >h3{
                    margin: 10px 0px 0px 5px;
                    color: black;
                    transition: color 1s;
                    &:hover{
                        color: #9356DC;
                        }
                }
                >p{
                    margin: 5px 0px 0px 5px;
                   
                }
                >.fa-heart{
                  position: relative;
                  right: -80%;
                  bottom: 10%;
                }
                .fa-heart:before{position:absolute;}
                .fa-heart::after{
                  content: "";
                  position: relative;
                  background: linear-gradient(#FF79DA, #9356DC);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  font-weight: 900;
                  opacity: 0;
                  transition: opacity 0.4s;
                }
                .fa-heart:hover::after{opacity: 1;}                
                    span{
                        position: absolute;
                        display: inline-block;
                        top: 20px;
                        right: 10px;
                        background-color: rgb(136, 185, 173);
                        color: rgb(34, 102, 85);
                        border-radius: 5px;
                        padding: 5px;
                    }
                
            }
        }
    }
    >footer{
        background-color: rgb(68, 68, 68);
        margin: 0px;
        >h2{
            margin: 0px;
            padding-left: 20px;
            color: white;
            font-family: 'Shrikhand', cursive;
        }
        >ul{
            margin: 0px;
            list-style: none;
            color: white;
            padding: 5px 0px 10px 20px;
            font-size: small;
        }
    }
}
